.nav {
    grid-area: n;
    background-color: bisque;
}

.item a {
    text-decoration: none;
    color: rgb(240, 145, 22);
}

.item a.active {
    color: black;
}

.item a:hover {
    color: rgb(128, 74, 3);
}